.navbar  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: green;
}

.navbar li {
    display: inline;
}

.navbar a, .navbar a:visited {
    color: white;
    margin: 20px;
}

.active {
    background-color: darkred;
}